<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Favicon -->
    <!--    <link rel="icon" type="image/png" sizes="48x48" href="/assets/images/favicon.png">-->
    <link rel="shortcut icon" sizes="196x196" href="/img/touch/touch-icon-196x196.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <!-- Fontawesome CSS-->
    <link rel="stylesheet" href="/assets/css/all.css" />

    <!-- slick css -->
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/preloader.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />

    <title>博客主页</title>
</head>

<body  style="background-color: seashell">
<!-- Preloader -->
<div class="preloader-wrapper">
    <div class="preloader">
        <div class="preloader-circle" id="status">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<!-- Preloader end -->

<!-- Header -->
<header>
    <!-- Top header -->
    <div class="top-header">
        <div class="container">
            <div class="row  align-items-center">
                <div class="col-md-3">
                    <div class="social-links">
                        <ul>
                            <li><i class="fab fa-facebook-f"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-pinterest-p"></i></li>
                            <li><i class="fab fa-instagram"></i></li>
                            <li><i class="fab fa-youtube"></i></li>
                            <li><i class="fab fa-vimeo-v"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="brand-name text-center">
                        <a href="#">
                            <h1>HBUE</h1>
                            <!--                            <span></span>-->
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="search-wrapper">
                        <div class="search-icon">
                            <button class="open-search-btn"><i class="fa fa-search"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Top header end -->
    <!-- Navbar  -->
    <div class="kavya-navbar" id="sticky-top">
        <div class="container">
            <nav class="nav-menu-wrapper">
          <span class="navbar-toggle" id="navbar-toggle">
            <i class="fas fa-bars"></i>
          </span>
                <div class="sticky-logo">
                    <a href="index.html">
                        <p>HBUE</p>
                    </a>
                </div>
                <ul class="nav-menu ml-auto mr-auto" id="nav-menu-toggle">
                    <li class="nav-item"><a href="/login/toIndex" class="nav-link">返回我的主页</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">文章类别 <span class="arrow-icon"> <span
                            class="left-bar"></span>
                  <span class="right-bar"></span></span>
                    </a>
                        <ul class="drop-menu">
                            <li class="drop-menu-item"><a href="/blog/type?type=JAVA">JAVA</a></li>
                            <li class="drop-menu-item"><a th:href="@{'/blog/type?type=' + 'C/C++'}">C/C++</a></li>
                            <li class="drop-menu-item"><a href="/blog/type?type=PYTHON">PYTHON</a></li>
                            <li class="drop-menu-item"><a href="/blog/type?type=PTA题集">PTA题集</a></li>
                            <li class="drop-menu-item"><a href="/blog/type?type=硬件操作">硬件操作</a></li>
                            <li class="drop-menu-item"><a href="/blog/type?type=LINUX">LINUX</a></li>
                            <li class="drop-menu-item"><a href="/blog/type?type=HTML/CSS">HTML/CSS</a></li>
                            <li class="drop-menu-item"><a href="/blog/type?type=其它">其它</a></li>
                        </ul>
                    </li>

                    <!-- <a class="hide-toggle" id="hide-toggle"><i class="fas fa-arrow-up"></i></a> -->
                </ul>
                <div class="sticky-search">
                    <div class="search-wrapper">
                        <div class="search-icon">
                            <button class="open-search-btn"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar end -->

    <!-- search overlay -->
    <div id="search-overlay" class="search-section">
        <span class="closebtn"><i class="fas fa-times"></i></span>
        <div class="overlay-content">
            <form action="/blog/searchBlog">
                <input id="search2" onkeyup="searchWord(this)" type="text" placeholder="博客内容/题目" name="keyword">
                <div id="showDiv1" style="z-index:100000;position: absolute;display:none; position:absolute;z-index:1000;top:55px;background:white; width:80%;font-size: 16px;color:black;border:1px solid #ccc;">
                </div>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <!-- 完成异步搜索//不能同时运行两个不同的ajax，问题暂未解决 -->
    <script type="text/javascript">
        function overFn(obj){//鼠标在上面
            $(obj).css("background","black");
        }
        function outFn(obj){//鼠标离开
            $(obj).css("background","white");
        }
        function clickFn(obj){//鼠标点击
            $("#search2").val($(obj).html());
            $("#showDiv1").css("display","none");
        }
        //上面的是提示框的css代码，下面的是ajax获取代码
        function searchWord(obj){
            //1、获得输入框的输入的内容
            var word = $(obj).val();
            //2、根据输入框的内容去数据库中模糊查询---List<Product>
            var content = "";
            $.post(
                "/blog/showKeyword/"+word,

                function(data){
                    //3、将返回的商品的名称 现在showDiv中
                    if(data.length>0){
                        var size = data.length > 9 ? 9 : data.length
                        for(var i=0;i<size;i++){
                            content+="<div style='z-index:100001;text-decoration：underline;font-size: 14px;color:red;display:-webkit-box;-webkit-box-orient:vertical;word-break:break-all;-webkit-line-clamp:1;overflow:hidden;text-overflow:ellipsis;padding:5px;cursor:pointer' onclick='clickFn(this)' onmouseover='overFn(this)' onmouseout='outFn(this)'>"+data[i].title+"</div>";
                        }
                        $("#showDiv1").html(content);
                        $("#showDiv1").css("display","block");
                    }
                    if(obj.value.length==0){//判断输入框是否为空，如果为空则隐藏提示区域
                        $("#showDiv1").css("display","none");
                    }
                },
                "json"
            );

        }
    </script>



    <!-- search overlay end -->
    </div>
    </div>
    </div>
    <!-- sticky sidebar end -->

    <div class="body-overlay"></div>
</header>
<!-- header end -->

<!-- Banner section -->
<!--收藏排行-->
<section class="banner-section">
    <div class="main-banner">
        <div class="container">
            <div class="banner-bg">
                <div class="banner-bg-left">
                </div>
                <div class="banner-bg-right">
                    <div class="banner-carousel">
                        <div class="banner-item" th:each="article:${articlemodel.articlecollects}">
                            <div class="banner-img">
                                <a th:href="@{'/blog/content2/'+${article.id}}"><img th:src="@{'/login/cover?name='+${article.cover}}"></a>
                            </div>
                            <div class="banner-text">
                                <ul class="category-tag-list">
                                    <li class="category-tag-name">
                                        <span style="color:#f4976c;" th:text="${article.type}"></span>
                                    </li>
                                </ul>
                                <div class="title-font" style="display:-webkit-box;-webkit-box-orient:vertical;word-break:break-all;-webkit-line-clamp:2;overflow:hidden;text-overflow:ellipsis;">
                                    <a th:href="@{'/blog/content2/'+${article.id}}"  th:text="${article.title}"></a>
                                </div>
                                <p style="display:-webkit-box;-webkit-box-orient:vertical;word-break:break-all;-webkit-line-clamp:3;overflow:hidden;text-overflow:ellipsis;" class="mb-3" th:text="${article.summarize}"></p>
                                <a th:href="@{'/blog/content2/'+${article.id}}" class="btn btn-solid btn-read">了解详情</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>
    </br>
    </br>
    </br>
    </br>
    <!--    点赞排行-->
    <div class="container">
        <div class="section-title">
            <h2>点赞量top3</h2>
        </div>
        <div class="more-content-grid py-30">
            <div class="row">
                <div class="col-md-4" th:each="article:${articlemodel.articlelikes}">
                    <div class="card">
                        <a th:href="@{'/blog/content2/'+${article.id}}">
                            <img th:src="@{'/login/cover?name='+${article.cover}}" class="card-img-top"  />
                        </a>
                        <div class="card-body px-0">
                            <ul class="category-tag-list">
                                <li class="category-tag-name">
                                    <span style="color:#f4976c;" th:text="${article.type}"></span>
                                </li>
                            </ul>
                            <h5 class="card-title title-font">
                                <a style="display:-webkit-box;-webkit-box-orient:vertical;word-break:break-all;-webkit-line-clamp:2;overflow:hidden;text-overflow:ellipsis;" th:href="@{'/blog/content2/'+${article.id}}" th:text="${article.summarize}"></a>
                                </span>
                            </h5>
                            <div class="author-date">
                                <a class="author" href="#">
                                    <img th:src="@{'/login/picture?name='+${article.headpicture}}"  class="rounded-circle" />
                                    <span class="writer-name-small" th:text="${article.userName}"></span>
                                </a>
                                <span class="date" th:text="${article.ariticleDate}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner section end -->

<!-- 评论量排行 -->
<section class="featured-posts">
    <div class="container">
        <div class="section-title">
            <h2>评论量top3</h2>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-7">
                <div class="featured-left">
                    <div class="card" th:each="article:${articlemodel.articlecomments0}">
                        <a th:href="@{'/blog/content2/'+${article.id}}"><img th:src="@{'/login/cover?name='+${article.cover}}" class="card-img " alt="" /></a>
                        <div class="card-img-overlay">
                            <ul class="category-tag-list">

                                <li class="category-tag-name">
                                    <span style="color:#f4976c;" th:text="${article.type}"></span>
                                </li>
                            </ul>
                            <h5 class="card-title title-font">
                                <a style="display:-webkit-box;-webkit-box-orient:vertical;word-break:break-all;-webkit-line-clamp:2;overflow:hidden;text-overflow:ellipsis;" th:href="@{'/blog/content2/'+${article.id}}" th:text="${article.title}"></a>
                            </h5>
                            <p class="card-text mb-3" th:text="${article.summarize}">
                            </p>
                            <a th:href="@{'/blog/content2/'+${article.id}}" class="btn btn-solid btn-read">了解详情</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div class="featured-right">
                    <div class="card" th:each="article:${articlemodel.articlecomments12}">
                        <a th:href="@{'/blog/content2/'+${article.id}}">
                            <img th:src="@{'/login/cover?name='+${article.cover}}" class="card-img-top ">
                        </a>
                        <div class="card-body">
                            <ul class="category-tag-list">

                                <li class="category-tag-name">
                                    <span style="color:#f4976c;" th:text="${article.type}"></span>
                                </li>
                            </ul>
                            <h5 class="card-title title-font">
                                <a style="display:-webkit-box;-webkit-box-orient:vertical;word-break:break-all;-webkit-line-clamp:2;overflow:hidden;text-overflow:ellipsis;" th:href="@{'/blog/content2/'+${article.id}}" th:text="${article.title}"></a>
                            </h5>
                            <div class="author-date">
                                <a class="author" href="#">
                                    <img th:src="@{'/login/picture?name='+${article.headpicture}}" class="rounded-circle" />
                                    <span class="writer-name-small" th:text="${article.userName}"></span>
                                </a>
                                <span class="date" th:text="${article.ariticleDate}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured post end -->

<!-- Popular posts -->
<!--用户推文-->
<section class="popular-posts section-padding">
    <div class="container">
        <div class="section-title">
            <h2>强烈推荐</h2>
        </div>
        <div class="row">
            <div class="col-md-7 col-lg-8">
                <div class="card mb-4" th:each="article:${articlemodel.articlerecommend}">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-4">
                            <a th:href="@{'/blog/content2/'+${article.id}}">
                                <img th:src="@{'/login/cover?name='+${article.cover}}" class="card-img " >
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <ul class="category-tag-list">
                                    <li class="category-tag-name">
                                        <span style="color:#f4976c;" th:text="${article.type}"></span>
                                    </li>
                                </ul>
                                <h5 style="display:-webkit-box;-webkit-box-orient:vertical;word-break:break-all;-webkit-line-clamp:2;overflow:hidden;text-overflow:ellipsis;" class="card-title title-font"><a th:href="@{'/blog/content2/'+${article.id}}" th:text="${article.title}"></a>
                                </h5>
                                <p style="display:-webkit-box;-webkit-box-orient:vertical;word-break:break-all;-webkit-line-clamp:3;overflow:hidden;text-overflow:ellipsis;" class="card-text" th:text="${article.summarize}"><p>
                                <div class="author-date">
                                    <a class="author" href="#">
                                        <img th:src="@{'/login/picture?name='+${article.headpicture}}" class="rounded-circle" />
                                        <span class="writer-name-small" th:text="${article.userName}"></span>
                                    </a>
                                    <span class="date" th:text="${article.ariticleDate}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="recent-posts">
                    <div class="sidebar-title">
                        <h5><i class="fas fa-circle"></i>推博排行</h5>
                    </div>
                    <div class="sidebar-content">
                        <ul class="sidebar-list">
                            <li class="sidebar-item" th:each="article:${articlemodel.articlerecommend1}">
                                <div class="num-left" th:text="${article.comments}">
                                </div>
                                <div class="content-right">
                                    <a style="display:-webkit-box;-webkit-box-orient:vertical;word-break:break-all;-webkit-line-clamp:2;overflow:hidden;text-overflow:ellipsis;" th:href="@{'/blog/content2/'+${article.id}}" th:text="${article.title}"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar-posts mt-4">
                    <div class="sidebar-title">
                        <h5><i class="fas fa-circle"></i>热点分类</h5>
                    </div>
                    <div class="sidebar-content">
                        <div class="category-name-list">
                            <div class="card small-card">
                                <a href="#"><img src="/assets/images/sea-lighthouse.jpg" class="card-img" alt="" /></a>
                                <div class="card-img-overlay">
                                    <h5 class="card-title title-font mb-0">
                                        <a href="#">JAVA</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="card small-card">
                                <a href="#"><img src="/assets/images/photography.jpg" class="card-img"
                                                                      alt="" /></a>
                                <div class="card-img-overlay">
                                    <h5 class="card-title title-font mb-0">
                                        <a href="#">PYTHON</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="card small-card">
                                <a href="#"><img src="/assets/images/city-pink.jpg" class="card-img" alt="" /></a>
                                <div class="card-img-overlay">
                                    <h5 class="card-title title-font mb-0">
                                        <a href="#">HTML</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Popular posts end -->

<!-- Recommended Posts -->
<!--浏览量排行-->
<section class="recommended-posts">
    <div class="container">
        <div class="section-title">
            <h2>浏览量TOP3</h2>
        </div>
        <div class="more-content-grid ">
            <div class="row" >
                <div class="col-md-4" th:each="article:${articlemodel.articleviews}">
                    <div class="card">
                        <a th:href="@{'/blog/content2/'+${article.id}}">
                            <img th:src="@{'/login/cover?name='+${article.cover}}" class="card-img-top" />
                        </a>
                        <div class="card-body px-0">
                            <ul class="category-tag-list">
                                <li class="category-tag-name">
                                    <span style="color:#f4976c;" th:text="${article.type}"></span>
                                </li>
                            </ul>
                            <h5 class="card-title title-font">
                                <a style="display:-webkit-box;-webkit-box-orient:vertical;word-break:break-all;-webkit-line-clamp:2;overflow:hidden;text-overflow:ellipsis;" th:href="@{'/blog/content2/'+${article.id}}" th:text="${article.title}"></a>
                            </h5>
                            <div class="author-date">
                                <a class="author" href="#">
                                    <img th:src="@{'/login/picture?name='+${article.headpicture}}" class="rounded-circle" />
                                    <span class="writer-name-small" th:text="${article.userName}"></span>
                                </a>
                                <span class="date" th:text="${article.ariticleDate}"></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recommended posts end -->

<!-- Instagram Posts -->
<section class="insta-posts">
    <div class="container">
        <div class="insta-title">
            <img src="/assets/images/instagram.svg" alt="">
            <!--            <h2>Follow us on Instagram</h2>-->
        </div>

        <div class="image-item-grid insta-slider">

            <div class="image-item">
                <a href="#">
                    <img src="/assets/images/beautiful-girl.jpg" alt="">
                </a>
                <a href="#">
                    <div class="image-hover">
                        <i class="fas fa-heart"></i>
                    </div>
                </a>
            </div>
            <div class="image-item image-item-margin">
                <a href="#">
                    <img src="/assets/images/colors.jpg" alt="">
                </a>
                <a href="#">
                    <div class="image-hover">
                        <i class="fas fa-heart"></i>
                    </div>
                </a>
            </div>
            <div class="image-item">
                <a href="#">
                    <img src="/assets/images/city-pink.jpg" alt="">
                </a>
                <a href="#">
                    <div class="image-hover">
                        <i class="fas fa-heart"></i>
                    </div>
                </a>
            </div>
            <div class="image-item image-item-margin">
                <a href="#">
                    <img src="/assets/images/sea-lighthouse.jpg" alt="">
                </a>
                <a href="#">
                    <div class="image-hover">
                        <i class="fas fa-heart"></i>
                    </div>
                </a>
            </div>
            <div class="image-item">
                <a href="#">
                    <img src="/assets/images/boat.jpg" alt="">
                </a>
                <a href="#">
                    <div class="image-hover">
                        <i class="fas fa-heart"></i>
                    </div>
                </a>
            </div>
            <div class="image-item">
                <a href="#">
                    <img src="/assets/images/beach-sea.jpg" alt="">
                </a>
                <a href="#">
                    <div class="image-hover">
                        <i class="fas fa-heart"></i>
                    </div>
                </a>
            </div>
            <div class="image-item">
                <a href="#">
                    <img src="/assets/images/orange-bus.jpg" alt="">
                </a>
                <a href="#">
                    <div class="image-hover">
                        <i class="fas fa-heart"></i>
                    </div>
                </a>
            </div>
            <div class="image-item">
                <a href="#">
                    <img src="/assets/images/tall.jpg" alt="">
                </a>
                <a href="#">
                    <div class="image-hover">
                        <i class="fas fa-heart"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Instagram posts end -->

<!-- Footer section -->
<footer class="footer-section">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <a href="#">
                    <h5 class="brand-name">HBUE</h5>
                </a>
            </div>
            <div class="footer-copyright">
                <p>&copy;2021. Theme designed by <a href="/index/peopleIntroduce">谭龙，王天科，陈嘉豪</a> </p>
            </div>
            <div class="social-links">
                <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-pinterest-p"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-youtube"></i></li>
                    <li><i class="fab fa-vimeo-v"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer section end -->

<!-- Scroll to top -->
<div id="stop" class="scroll-to-top">
    <span><a href="#"><i class="fas fa-arrow-up"></i></a></span>
</div>
<!-- Scroll to top end -->

<!-- Javascript -->
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>
<script src="/assets/js/ResizeSensor.min.js"></script>
<script src="/assets/js/theia-sticky-sidebar.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>

</html>